*{
    margin:0;
    padding:0;
    border: none;
}

body{
   background-color: #e7e4db;
}

/* logo and nav links */

#logo{
    float: left;
    height:auto;
}

#menu{
    font-size:110%;
    letter-spacing: 4px;
    padding-top: 2.5em;
    color: #749f78;
}

#menu, #logo{
    line-height: 30px;
}

#menu li{
    float:right;
    list-style-type: none;
    margin-right:30px; 
}

#menu a{
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid;
}

.active{
    border-bottom: 1px solid;
}

/* Main image and Image text*/

#image-text{
    font-size: 70px;
    color: white;
    position: absolute;
    left: 20%;
    top:35%;
}


#home-image-outer {
    height: 800px;
    width: 100%;
    overflow:hidden;
}
#home-image{
    height: 600px;
    width: 100%;
    background: url('../css/images/Slide-image\ 2.webp') no-repeat center center;
    position: relative;
}