
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
   background-color: #f6f5f0;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   font-size: 1rem;
}

/* logo and nav links */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: auto;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #749f78;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu, #logo {
    line-height: 30px;
}

#menu li {
    list-style-type: none;
}

#menu li:not(:last-child) {
    margin-right: 30px;
}

#menu .menu-li-style a {
    color: #749f78;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* Main image and Image text */
#image-text {
    font-size: 70px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    width: 100%;
    padding: 0 1rem;
}

#home-image-outer {
    height: auto;
    width: 100%;
    position: relative;
}

#home-image {
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../css/images/home_main_.jpg') no-repeat fixed center;
    background-size: cover;
} 

/* Company ethos headings and text*/
#ethos {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0 2rem;
}

#ethos h1 {
   color: #749f78;
   font-size: 2rem;
}

#ethos p {
   font-size: 1rem;
   margin-top: 1rem;
   letter-spacing: 0.015rem;
   line-height: 1.3rem;
   color: #2b2b2b; 
}

/* Body text and images*/
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    align-items: center;
}

.container a {
    color: white;
    text-decoration: none;
}

.container img {
    height: 200px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 8px;
}

.container h2 {
    margin:0;
    color:#749f78
}

.container p {
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.015rem;
    line-height: 1.3rem;
    color: #2b2b2b;
    margin-bottom: 1rem;
}

#con-1 {
    background-color: white;
    border: 3px solid #749f78;
}

#con-3 {
    background-color: white;
    border: 3px solid #749f78;
}

.img1 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.img2 {
    padding-right: 2rem;
    padding-left: 2rem;

}

.img3 {
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
}

.content {
    max-width: 50%;
    text-align: center;
}

.content2 {
    width: 50%;
    text-align: center;
}

#activities-heading {
    color: #749f78;
    font-size: 2em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Buttons youtube video "East Tutorials*/
.button-general {
    width: 100%;
    color: white;
    font-size: 0.95rem;
    background: #749f78;
    border: 0.2 rem solid #749f78;
    Border-radius: 8px;
    outline: none;
    margin-top: 0;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-decoration: none;
    box-shadow: rgb(0 0 0 / 5%) 1px 2px 5px 2px;
    transition-duration: 0.5s;
}

.button-general:hover {
    background-color: white;
    color: #749f78;
}

.button-b {
    margin-top: 1rem;
}

/* Adventure section images and text*/
.activities-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1rem;
    padding: 0 2rem;
    margin-bottom: 1.5rem;
}
 
.card {
    height: 230px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    color: #fff;
    transition: transform 0.5s;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 8px;
}

.card1 {
    background: url(images/ziplinning_.jpg) center;
    background-size: cover;
}

.card2 {
    background: url(images/safari.jpg) center;
    background-size: cover;
}

.card3 {
    background: url(images/night_drive.jpg) center;
    background-size: cover;
}

.card4 {
    background: url(images/activities_cruise.jpg) center;
    background-size: cover;
}

.card:hover {
    transform: translateY(-10px);
}

/* Footer styling*/
footer {
    background-color: #749f78;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1 {
    padding: 2em 2em ;
}

.footer2{
    padding: 2em 2em;
}

.footer3{
    padding: 2em 3em;
}

footer a {
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #f6f5f0;
}

/*Our story text and images*/
.our-trusted-staff-heading {
    color: #749f78;
    font-size: 2em;
    margin-top: 1.5rem;
}

.our-story-ethos {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0 2rem;
}

.our-story-ethos h1 {
    color: #749f78;
    font-size: 2rem;
 }

 .our-story-ethos p {
    font-size: 1rem;
   margin-top: 1rem;
   letter-spacing: 0.015rem;
   line-height: 1.3rem;
   color: #2b2b2b;
   margin-bottom: 2rem;
 }

.staff-section {
    max-width: 960px;
    margin: 0 auto;
    padding: 6% 2%;
    border: 2px solid #749f78;
    background-color: white;
    border-radius: 5px;
}

.staff-section h4 {
    color: #749f78;
}

.staff-section h3 {
    color: #749f78;
}

.staff-grid {
    padding:0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.staff-grid li {
    display: inline-block;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.staff-box {
    height: 230px;
    width:200px;
    position: relative;
    border-radius: 10px;

}

.staff-img {
    background: url(../css/images/staff_1.jpg);
}

.staff-img1 {
    background: url(../css/images/staff_2.jpg);
}

.staff-img2 {
    background: url(../css/images/staff_3.jpg);
}

.staff-img3 {
    background: url(../css/images/staff_4.jpg);
}

.staff-img4 {
    background: url(../css/images/staff_5.jpg);
}

.staff-img5 {
    background: url(../css/images/staff_6.jpg);
}

/* Booking form */
.booking-form-box {
    max-width : 600px;
    height: auto;
    background-color: #749f78;
    margin-left: 27%;
    border-radius: 5px; 
    position: absolute;
    top: 20%;
    border: 4px solid #f9fcf8;
}

.book-heading {
     font-size: 25px;
     color: #749f78;
     text-align: center;
     padding: 1rem 2rem;
}

#booking-section-img-outer {
    height: auto;
    width: 100%;
    position: relative;
}

.booking-section-img {
    background-image: url(images/book_now_background.jpg);
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.radio-btn {
    padding: 1.5rem 0 2.5rem 0;
    word-spacing: 0.2rem;
}

.fname {
    padding: 0 1rem 2rem 0;
}

.lname {
    padding: 0 1rem 2rem 0;
}

.form-control {
    font-size: 15px;
    border-spacing: 2rem;
}

.input-grp {
    display:inline-block;
    padding: 1rem 1rem;
    
}

/*form button styling*/
.button-form {
    width: 100%;
    color: #749f78;
    font-size: 0.95rem;
    background: white;
    border: 0.2 rem solid #749f78;
    Border-radius: 8px;
    outline: none;
    margin-top: 0;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-decoration: none;
    box-shadow: rgb(0 0 0 / 5%) 1px 2px 5px 2px;
    transition-duration: 0.5s;
    border: 1px solid black;
}

.button-form:hover {
    background-color:#749f78;
    color: white;
}

.booking-form h1 {
      margin-top: 4rem;
      margin-bottom: 1rem;
}

.booking-form p {
    margin: 0 1rem 2rem 1rem;
}

/*Media queries */
@media only screen and (max-width: 1250px) {
    .activities-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 950px) {
    #image-text {
        font-size: 60px;
    }

    .activities-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 850px) {
    #image-text {
        font-size: 50px;
        line-height: 5.5rem;
    }
}

@media only screen and (max-width: 650px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .footer1, .footer2, .footer3 {
        padding: 1rem;
    }

    .footer1 h3, .footer2 h3, .footer3 h3 {
        font-size: 1.1rem;
    }

    .footer1 p, .footer2 p, .footer3 p {
        font-size: 0.9rem;
    }

    .card {
        max-width: 350px;
    }

    .activities-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .container a {
        display: block;
    }

    .content {
        max-width: 100%;
    }

    .content2 {
        max-width: 100%;
    }

    .img1 {
        margin-top: 2rem;
        padding: 0;
    }

    .img2 {
        margin-bottom: 2rem;
        padding: 0;
    }

    .img3 {
        margin-top: 2rem;
        padding: 0;
    }

    .button-general {
        max-width: 250px;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    #home-image {
        height: 500px;
    }

    .footer1 h3, .footer2 h3, .footer3 h3 {
        font-size: 1rem;
    }

    .footer1 p, .footer2 p, .footer3 p {
        font-size: 0.8rem;
    }

    #activities-heading {
        font-size: 1.8rem;
    }

    #ethos h1 {
        font-size: 1.8rem;
    }

    #ethos p {
        font-size: 0.95rem;
    }

    .our-story-ethos h1 {
        font-size: 1.8rem;
    }

    .our-story-ethos p {
        font-size: 0.95rem;
    }

    .container h2 {
        font-size: 1.6rem;
    }

    .container p {
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 450px) {
    .footer1, .footer2, .footer3 {
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 400px) {
    #image-text {
        font-size: 40px;
    }

    #home-image {
        height: 450px;
    }

    #ethos {
        padding: 0 1rem;
    }

    footer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 350px) {
    #image-text {
        font-size: 35px;
        line-height: 4rem;
    }

    #home-image {
        height: 400px;
    }

    #activities-heading {
        font-size: 1.6rem;
    }

    #ethos h1 {
        font-size: 1.6rem;
    }

    #ethos p {
        font-size: 0.90rem;
    }

    .our-story-ethos h1 {
        font-size: 1.6rem;
    }

    .our-story-ethos p {
        font-size: 0.90rem;
    }

    .container h2 {
        font-size: 1.4rem;
    }

    .container p {
        font-size: 0.90rem;
    }
}



