
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
   background-color: #f9fcf8;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   font-size: 1rem;
}

/* Media queries*/



/* logo and nav links */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: auto;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #749f78;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu, #logo {
    line-height: 30px;
}

#menu li {
    list-style-type: none;
}

#menu li:not(:last-child) {
    margin-right: 30px;
}

#menu .menu-li-style a {
    color: #749f78;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* Main image and Image text */
#image-text {
    font-size: 70px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    width: 100%;
}

#home-image-outer {
    height: auto;
    width: 100%;
    position: relative;
}

#home-image {
    height: 600px;
    width: 100%;
    background-image: url('../css/images/Slide-image\ 2.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

/* Company ethos headings and text*/
#ethos {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0 2rem;
}

#ethos h1 {
   color: #749f78;
   font-size: 2rem;
}

#ethos p {
   font-size: 1rem;
   margin-top: 1rem;
   padding-left: 10em;
   padding-right: 10em;
   letter-spacing: 0.015rem;
   line-height: 1.3rem;
   color: #2b2b2b; 
}

/* Body text and images*/
.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    align-items: center;
}

.container a {
    color: white;
    text-decoration: none;
}

.container img {
    height: auto;
    max-width: 60%;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 8px;
}

.container h2 {
    margin:0;
    color:#749f78
}

.container p {
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.015rem;
    line-height: 1.3rem;
    color: #2b2b2b;
    margin-bottom: 1rem;
}

#con-1 {
    background-color: white;
    border: 3px solid #749f78;
    position: relative;
}

#con-3 {
    background-color: white;
    border: 3px solid #749f78;
    position: relative;
}

.img1 {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}

.img2 {
    padding-right: 2rem;
    padding-left: 2rem;
}

.img3 {
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
}

.content {
    width: 50%;
    text-align: center;
}

.content2 {
    width: 50%;
    text-align: center;
}

#activities-heading {
    color: #749f78;
    font-size: 2em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Buttons youtube video "East Tutorials*/
.button-general {
    width: 100%;
    color: white;
    font-size: 0.95rem;
    background: #749f78;
    border: none;
    Border-radius: 8px;
    outline: none;
    margin-top: 0;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-decoration: none;
    box-shadow: rgb(0 0 0 / 5%) 1px 2px 5px 2px;
}

.button-b {
    margin-top: 1rem;
}

/* Adventure section images and text*/
.activities-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1rem;
    padding: 0 2rem;
    margin-bottom: 1.5rem;
}
 
.card {
    height: 230px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 1rem;
    color: #fff;
    transition: transform 0.5s;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 8px;
}

.card1 {
    background: url(images/zipplining1.jpg) center;
    background-size: cover;
}

.card2 {
    background: url(images/safari.jfif) center;
    background-size: cover;
}

.card3 {
    background: url(images/night\ drive.jpg) center;
    background-size: cover;
}

.card4 {
    background: url(images/cruise.jfif) center;
    background-size: cover;
}

.card:hover {
    transform: translateY(-10px);
}

/* Footer styling*/
footer {
    background-color: #749f78;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1 {
    padding: 2em 2em ;
}

.footer2{
    padding: 2em 2em;
}

.footer3{
    padding: 2em 3em;
}

footer a {
    color: white;
    font-size: 1.5em;
}

/*Our story text and images*/
.our-trusted-staff-heading {
    color: #749f78;
    font-size: 2em;
    margin-top: 1.5rem;
}

.our-story-ethos {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0 2rem;
}

.our-story-ethos h1 {
    color: #749f78;
    font-size: 2rem;
 }

 .our-story-ethos p {
    font-size: 1rem;
   margin-top: 1rem;
   padding-left: 10em;
   padding-right: 10em;
   letter-spacing: 0.015rem;
   line-height: 1.3rem;
   color: #2b2b2b;
   margin-bottom: 2rem;;
 }

.staff-section {
    max-width: 960px;
    margin: 0 auto;
    padding: 6% 2%;
    border: 2px solid #749f78;
    background-color: white;
}

.staff-section h4 {
    color: #749f78;
}

.staff-section h3 {
    color: #749f78;
}

.staff-grid {
    padding:0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.staff-grid li {
    display: inline-block;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.staff-box {
    height: 230px;
    width:200px;
    position: relative;
    border-radius: 10px;

}

.staff-img {
    background: url(../css/images/Staff1.jpg);
}

.staff-img1 {
    background: url(../css/images/Staff2.jpg);
}

.staff-img2 {
    background: url(../css/images/Staff3.jpg);
}

.staff-img3 {
    background: url(../css/images/Staff4.jpg);
}

.staff-img4 {
    background: url(../css/images/Staff5.jpg);
}

.staff-img5 {
    background: url(../css/images/staff6.jpg);
}

/*booking form styles with help from east tutorials*/
.booking-form-box {
    max-width : 400px;
    background-color: #749f78;
    margin: 10%;

}

.radio-btn {
    margin: 0 20px;
}

.radio-btn .btn {
    margin: 20px 10px 20px 0;
    box-shadow: none;
}

.radio-btn .btn::after {
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: white;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-btn .btn:checked::after {
    content: '';
    background-color: #749f78;
    transition: 0.5s;
}

.radio-btn span {
    color: white;
    margin-right: 5px;
    font-size: 12px;

}



